{% extends "basic_app/basic_app_base.html" %}
{% block body_block %}
<div>
	<h1>welcome</h1>
	<h2>school details:</h2>
	<p>name:{{school_detail.name}}</p>
	<p>location:{{school_detail.location}}</p>
	<p>principal:{{school_detail.principal}}</p>

    <h3>students:</h3>
     {% for student in school_detail.student.all %}
        <p>{{student.name}} who is {{student.age}} years old</p>
     {% endfor %}
</div>
<div class="container" >
	<p><a class="btn btn-warning" href="{% url 'basic_app:update' pk=school_detail.pk %}">update</a>
	<a class="btn btn-danger" href="{% url 'basic_app:delete' pk=school_detail.pk %}">delete</a>
   </p>
	
</div>
{% endblock %}